# Mac OS
.DS_Store

# Binary
bin/

# Docker volumes
docker/volumes/

# Environment
.env*
!.env.example

# Generated
domain/query

# logs
logs/
*.log

# Vscode
.vscode

# Golang
# Compiled Object files, Static and Dynamic libs
*.o
*.a
*.so

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temp files (hot reload)
tmp_app/